@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');



@import "tailwindcss";

* {
  font-family: "Nunito Sans", sans-serif;
}


@theme {
  --color-primary: #2563EB;
  --color-primary-dull: #1f58d8;
  --color-light: #F1F5F9;
  --color-borderColor: #c4c7d2;
}



.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, -5px) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  background-color: antiquewhite;
  padding: 23px;
  border-radius: 50px;
  margin-right: 10px;
  right: var(--swiper-navigation-sides-offset, -9px) !important;
  left: auto;
  font-weight: bold;

}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background-color: antiquewhite;
  padding: 23px;
  border-radius: 50px;
  margin-left: 10px;
  left: var(--swiper-navigation-sides-offset, -9px) !important;
  right: auto;
  font-weight: bold;
}



/* Whatapp Floating icon  */

.floating-whatsapp {
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating-whatsapp:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.whatsapp-icon {
  width: 35px;
  height: 35px;
}